target/
!.mvn/wrapper/maven-wrapper.jar
**/data/**
**/logs/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
**/*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### mac ###
.DS_Store
**/.DS_Store

### Data ###
**/h2.mv.db
**/meta.dat