[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=UTF8MB4
max_connections=1024
# binlog
log-bin=mysql-bin
binlog_format=ROW
server-id=1

[client]
default-character-set=UTF8MB4
[mysql]
default-character-set=UTF8MB4

[mysqldump]  
quick  
max_allowed_packet = 16M